@import "/styles/variables.css";
@import "/styles/base.css";

#networks {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 4px;
  max-height: 400px;
  overflow-y: auto;
}
.network-option {
  border: 0;
  border-radius: 10px;
  cursor: pointer;
  padding: 8px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all .2s linear;
}
.network-option > div {
  gap: 10px;
  display: flex;
  align-items: center;
}
.network-status {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.network-name {
  font-weight: 600;
  font-size: 16px;
}

#wifi-modal {
  width: 100vw;
  height: 100vh;
  margin: 0;            /* remove automatic centering margins */
  padding: 0;           /* remove default padding */
  border: none;         /* remove default border */
  border-radius: 0;     /* optional: square edges */
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  transform: translateY(-6%);
  z-index: 999;
  display: none;
  justify-content: center;
  align-items: center;
}
#wifi-modal > form {
  min-width: 300px;
  background-color: oklch(92% 0.004 286.32);
  padding: 15px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
#wifi-modal-ssid {
  border-radius: 5px;
  border: none;
  padding: 5px;
}
#wifi-connect label {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
#wifi-connect label input {
  border-radius: 5px;
  border: none;
  padding: 5px;
}
#content {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
#wifi-error {
  color: red;
}

#wifi-modal-actions {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}
#wifi-modal-cancel {
  color: red;
  cursor: pointer;
  font-size: 14px;
}
#wifi-modal-actions > button {
  border: 0;
  border-radius: 10px;
  padding: 8px 15px;
  color: white;
  background-color: var(--main-color);
  cursor: pointer;
  transition: all .2s linear;
  align-self: flex-end;
}
#wifi-modal-actions > button:hover {
  opacity: .8;
}

