@import "../../styles/variables.css";
@import "../../styles/base.css";

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.subtitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.subtitle > p {
  font-weight: bold;
}
#status {
  width: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.status-text {
  color: var(--powered-off);
}
.status-text.powered {
  color: var(--powered-on);
}
.form-btn {
  border-radius: 10px;
  background-color: var(--main-color);
  padding: 10px;
  color: white;
  cursor: pointer;
  transition: all .2s linear;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.form-btn:hover {
  opacity: .6;
}
.label-input {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}
.label-input > input[type=number] {
  width: 200px;
  padding: 5px 10px;
  border-radius: 15px;
}
