* {
  margin: 0;
  padding: 0;
  border: none;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  width: 100vw;
  height: 100vh;
  padding: 50px 0;
  background-color: oklch(92% 0.004 286.32);
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
  box-sizing: border-box;
}
body > img {
  width: 300px;
}
main {
  width: 35%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
h1 {
  color: var(--main-color);
  text-align: center;
}
h1 > a {
  text-decoration: none;
  color: var(--main-color);
}

@media (max-width: 600px) {
  body > img {
    width: 200px;
  }
  main {
    width: 75%;
  }
}

