@import "./variables.css";
@import "./base.css";

#actions {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 4px;
  max-height: 400px;
  overflow-y: auto;
}

#actions a {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  text-decoration: none;
  color: white;
  background-color: var(--main-color);
  border-radius: 20px;
  transition: all .2s linear;
}

#actions a:hover {
  opacity: .6;
}
